footer {
    text-align: center;
    color: white;
    background-color: $darkGrey;
    padding: 10px 0;
    border-top: 1px solid $lightGrey;

    a {
        color: white;
        &:hover {
            color: lighten($navy, 15%);
        }
    }
}