.white-btn,
.navy-btn {
    border: none;
    border-radius: 30px;
    transition: .3s all ease;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.navy-btn {
    background-color: $navy;
    color: white;
    &:hover {
        background-color: lighten($navy, 15%);
    }
}

.white-btn {
    background-color: white;
    color: $navy;
    &:hover {
        background-color: darken(white, 15%);
    }
}

#login {

    &-modal {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 500px;
        background-color: lighten($lightGrey, 15%);
        border-radius: 15px;
    }

    &-inner {
        position: relative;
    }
}