.white-btn,
.navy-btn {
    border: none;
    border-radius: 30px;
    transition: .3s all ease;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.navy-btn {
    background-color: $navy;
    color: white;
    &:hover {
        background-color: lighten($navy, 15%);
    }
}

.white-btn {
    background-color: white;
    color: $navy;
    &:hover {
        background-color: darken(white, 15%);
    }
}

.btn-disabled {
    background-color: $lightGrey !important;
    &:hover {
        background-color: $lightGrey !important;
    }
}

#login {

    // &-overlay {
    //     width: 100vw;
    //     height: 100vh;
    //     background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    // }

    &-modal {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 500px;
        background-color: lighten($lightGrey, 15%);
        border-radius: 15px;
    }

    &-inner {
        position: relative;
    }

    &-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        padding: 3px 10px;
    }

    &-credentials {

        position: absolute;
        top: 75px;
        width: 100%;

        .person-avatar {
            width: 100px;
            display: block;
            margin: 0 auto;
        }
    }
}

.display {
    &-none {
        display: none;
    }
    &-block {
        display: block;
    }
}

#user {
    &-login {
        @include flexBox(column,center,center);
    }
}