header {
    padding: 20px;
    background-color: $darkGrey;
    color: white;
    @include flexBox(row,space-between);
}

.logo {
    width: 250px;
}

.btn-login {
    padding: 5px 50px;
    text-transform: uppercase;
}