@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@700&display=swap');

//colors: artsy and creative
$darkGrey: #231F20;
$lightGrey: #D1D2D4;
$navy: #285877;
$teal: #4EB29A;
$royalPurple: #4056A1;
$lightLavender: #C5CBE3;

//breakpoint values
$breakpoints: (
    'sm': 450px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1200px
)